* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Info {
  text-align: center;
  margin-top: 100px;
}

.info-button {
  padding-right:130px;
  padding-left: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
}

.Info > h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.Info > h3 {
color: #F3BF99;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 15px;
}

.info-image {
  width: 450px;
  aspect-ratio: 1;
  border-radius: 8px 8px 0 0;
  
}

.About {
  text-align: center;

}

.About > h2 {
  color: white;
  margin-right: 230px; 
}

.About > p {
  width: 300px;
  word-wrap: break-word;
  display: inline-block;
  color: #DCDCDC;
  text-align:left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

}

.Interests {
  color: white;
  text-align: center; 
}

.Interests > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  word-wrap: break-word;
  display: inline-block;
  width: 300px;
  text-align: left;
  color: #DCDCDC;;
}

.Interests > h2 {
  margin-right: 210px;
}

.Footer {
  background-color: #161619;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 450px;
  height: 45px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Main {
  background: #1A1B21;
  max-width: 450px;
  margin: auto;
  height: 1000px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.container {
  margin: auto;
  width: 50%;
}
